# This environment was made for python 3.10

# NOTE: The installation need an extra index. Use the command below:
# pip install -r ../base-requirements-gflownet.txt --find-links https://data.pyg.org/whl/torch-2.1.2+cu121.html

# Core dependencies
# torch==2.9.1
# torchvision==0.24.1
codecarbon==3.1.0
datasets==4.4.1
transformers==4.57.1
tqdm==4.67.1
pandas==2.3.3

# From here: https://github.com/Delaunay/gflownet/blob/2cc8d4ed1e5fb340ca75c94a0633426f93504112/requirements/main-3.10.in
torch==2.1.2
torch-geometric==2.4.0
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-cluster==1.6.3
rdkit
tables
scipy
networkx
tensorboard
cvxopt
pyarrow
gitpython
botorch
pyro-ppl
gpytorch
omegaconf>=2.3
wandb